[Unit]
Description = Servicio ej5_guia5

[Service]
Type=simple
ExecStart=/guia_edp/maxeder87/guia5/ej5_guia5.sh


[Install]
WantedBy=multi-user.target
